.acclamation{
    padding: 16px;
}
.acclamation h2{
   text-align: left;

}
.acclamation-wrap{
    padding: 24px;
    background-color:var(--card-background);
    border-radius: 16px;
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;

}
.card-avatar-first{
    width: 100%;
}

.acclamation-cart-wrap{
    display: flex;
    gap: 40px;

}
@media screen and (max-width: 700px) {
    .acclamation-cart-wrap {
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    .acclamation-wrap {
        display: block;
    }

    .card-avatar-first {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 24px;

    }
    .card first-image{
        width: 120px;

    }
}
.acclamation-avatar-title{
    margin-top: 8px;
    font-weight:bold ;
    font-size: 14px;
}