.mobail{
    display: flex;
    flex-wrap: wrap;
    padding: 104px 128px;
    align-items: center;
    justify-content: center;
}
.mobail-wrap{

    padding-left: 40px;

}
.mobail-button{
    font-size: 0;
    border-radius: 4px;
    padding: 0;
    border: none;
    margin-top: 32px;
}
.mobail-wrap p{
    font-size: 18px;
    text-align: left;
    overflow-wrap: break-word;
    max-width: 85%;
    margin-top: 16px;


}
.mobail-wrap h2{
    text-align: left;

}
.mobail-button2{
    font-size: 0;
    border-radius: 4px;
    padding: 0;
    border: none;
    margin-top: 32px;
    padding-left: 16px;

}
@media screen and (min-width: 601px) and (max-width: 1024px){
    .mobail-wrap h2{

    }
}
